.countdown-body{
    margin: auto;
    width: 100%;
    padding-top: 25px;
    background-color: #F5F5F5;
}

.countdown-margin{
    margin: auto;
    width: 50%;
    text-align: center;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    padding: 0px;
    max-width: 540px;
}

h2 {
    color: #f2bfc6;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.countdown-p{
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #F2BFC6;
    color: white;
    font-size: 50px;
    line-height: 200%;
}

.space {
    margin: 20px; 
}

.space-text {
    margin: 27px; 
}

.countdown-text{
    color: black;
    width: 80px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    h2{
        font-size: 40px;
    }

    .countdown-body{
        width: 80%;
    }

    .countdown {
        background-size: 170%;
    }
}