  <div class="countdown-body">
    <div>
      <h2>Partytips countdown...</h2>
    </div>
    <div class="container">
      <p class="countdown-p">{{days}}</p>
      <div class="space"></div>
      <p class="countdown-p">{{hours}}</p>
      <div class="space"></div>
      <p class="countdown-p">{{minutes}}</p>
      <div class="space"></div>
      <p class="countdown-p">{{seconds}}</p>
    </div>
    <div class="container">
      <p class="countdown-text">dagen</p>
      <div class="space-text"></div>
      <p class="countdown-text">uren</p>
      <div class="space-text"></div>
      <p class="countdown-text">minuten</p>
      <div class="space-text"></div>
      <p class="countdown-text">seconden</p>
    </div>
  </div>